.logo{
    width:160px;
    height: 50px;/* Adjust the width as needed */ /* Adjust the height as needed */
    background: transparent; /* Make sure the background is transparent */
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.1)); 
}
.fas{
    width: 20px;
}
.container {
    padding: 60px;
}
.image-container {
    text-align: center;
}
.image-container img {
    max-width: 100%;
    height: auto;
}
.content {
    padding: 80px;
}
.btn-secondary:hover{
    color: black;
    background-color:rgb(224, 219, 64)
}
.Heading .text{
      text-align: center;
      font-family:'Times New Roman', Times, serif;
      letter-spacing: 2px;
      font-weight: bolder;
}
.line{
    margin:auto;
    text-align: center;
    width: 50%;
    font-weight: bolder;
    margin-bottom: 20px;
}